body {
	background-color: PaleGreen;
}

#whitetreefrogImg {
	width: 200px;
	height: 200px;
}

#africandwarffrogImg {
	width: 300px;
	height: 200px;
}

#amazonmilkfrogImg {
	width: 250px;
	height: 200px;
}
